/gdd2/Scratch/scratch.gdb
/gdd2/Scratch/temperature.db
/gdd2/ToolData/data.gdb
/AGSSOMv10.0.2/bin
/AGSSOMv10.0.2/obj
/AGSSOMv10.0.2/*.user
/AGSSOMv10.0.2/*.suo
/UTFGrid/bin
/UTFGrid/obj
/UTFGrid/*.user
/UTFGrid/*.suo
