<?xml version="1.0"?>
<configuration>
	<configSections/>
	<appSettings>
		<add key="Workspace" value="C:\Inetpub\watershed\ToolData\ToolData.gdb"/>
		<add key="LowResolutionFlowDirection" value="flowdir_30sec"/>
		<add key="HighResolutionFlowDirection" value="flowdir_ConococheagueOpequon_5sec;flowdir_LowerPotomac_5sec;flowdir_MiddlePotomacCatoctin_5sec;flowdir_Shenandoah_5sec"/>
		<add key="FlowAccumulation" value="flowaccum_30sec"/>
		<add key="HighResolutionAccumThreshold" value="20"/>
		<add key="FlowArea" value="flow_area_30sec"/>
		<add key="FlowLine" value="flow_lines"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="ESRI.ArcGIS.ADF, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.ConversionTools, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.DataManagementTools, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.DataSourcesFile, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.DataSourcesGDB, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.DataSourcesRaster, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.GeoAnalyst, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.Geodatabase, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.Geometry, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.Geoprocessing, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.Geoprocessor, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				<add assembly="ESRI.ArcGIS.System, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
        <add assembly="ESRI.ArcGIS.SpatialAnalyst, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
			</assemblies>
		</compilation>
  </system.web>
</configuration>
