<?xml version="1.0"?>
<configuration>
	<configSections/>
	<appSettings>
		<add key="FlowPath.Workspace" value="C:\Inetpub\watershed\ToolData\ToolData.gdb"/>
		<add key="FlowPath.LowResolutionFlowDirection" value="flowdir_30sec"/>
		<add key="FlowPath.HighResolutionFlowDirection" value="flowdir_ConococheagueOpequon_5sec;flowdir_LowerPotomac_5sec;flowdir_MiddlePotomacCatoctin_5sec;flowdir_Shenandoah_5sec"/>
		<add key="FlowPath.HighResolutionMaxSteps" value="100"/>
		<add key="UpstreamArea.Workspace" value="C:\Inetpub\watershed\ToolData\ToolData.gdb"/>
		<add key="UpstreamArea.LowResolutionFlowDirection" value="flowdir_30sec"/>
		<add key="UpstreamArea.HighResolutionFlowDirection" value="flowdir_ConococheagueOpequon_5sec;flowdir_LowerPotomac_5sec;flowdir_MiddlePotomacCatoctin_5sec;flowdir_Shenandoah_5sec"/>
		<add key="UpstreamArea.FlowAccumulation" value="flowaccum_30sec"/>
		<add key="UpstreamArea.HighResolutionAccumThreshold" value="20"/>
		<add key="UpstreamArea.FlowArea" value="flow_area_30sec"/>
		<add key="UpstreamArea.FlowLine" value="flow_lines"/>
		<add key="QueryPolygon.Workspace" value="C:\Inetpub\raster_stats\ToolData\ToolData.gdb"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="ESRI.ArcGIS.DataSourcesGDB, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
        <add assembly="ESRI.ArcGIS.DataSourcesRaster, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
        <add assembly="ESRI.ArcGIS.GeoAnalyst, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
        <add assembly="ESRI.ArcGIS.Geodatabase, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
        <add assembly="ESRI.ArcGIS.Geometry, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
        <add assembly="ESRI.ArcGIS.System, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
        <add assembly="ESRI.ArcGIS.SpatialAnalyst, Version=9.3.0.1770, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
      </assemblies>
		</compilation>
  </system.web>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/>
        </compiler>
      </compilers>
  </system.codedom>
</configuration>
